<h2><%= @restaurant.name %></h2>

<div class="form_style_light">
<ul>
  <li><u>Category:</u><br> <%= @restaurant.category %></li>
  <li><u>Address:</u><br> <%= @restaurant.address %></li>
  <li><u>Comments:</u><br> <%= @restaurant.comments %></li>
</ul>
</div>

<u><%= link_to 'Edit',  edit_restaurant_path %></u>
<u><%= link_to 'Delete', restaurant_path(@restaurant),
method: :delete,
data: { confirm: 'Sure about that?'} %></u>
